body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #23232C;
    color: white;
}

.game {
    display: none;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh; /* Make the div full viewport height for vertical centering */
}

.input_box {
    font-size: large;
}

.button {
    border: none;
    color: white;
    padding: 1vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    border-radius: 2vw;
}

.rounded {
    border-radius: 16px;
    padding: 4px;
    margin: 2px;
}

.button-green {
    background-color: #4CAF50;
    /* Green */
}

.button-blue {
    background-color: #3498db;
    /* Blue */
}

.button-red {
    background-color: red;
    /* Blue */
}

/* Flex container for the header */
.header-container {
    display: flex;
    justify-content: space-between;
    /* Align items at the start and end */
    align-items: center;
    /* Center vertically */
}

.numberCircle {
    width: 100px;
    margin: 1%;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 2vw;
    border: 2px solid white;
}

.highlighted {
    background-color: #264BCC;
    /* You can choose any color you prefer */
}

.wrong { 
    background-color: gray;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    font-size: 24px;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#chat-container {
    display: flex;
}

.leaderboard {
    align-content: center;
}

.leaderboard-title {
    text-align: center;
}

.leaderboard-container {
    display: flex;
}

.guesser-board, .describer-board {
    flex: 1;
    float: left;
    padding: 0px 20px;
}





#usersConnected {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    /* Optional: add some spacing between messages and users */
}


#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1;

    max-width: 80%;
    border: 1px solid darkblue;
}

#messages>li>span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 10px;
}


/* Apply the highlighted styling with higher specificity */
#messages>li.highlighted {
    background-color: #90ee90;
}

.card {
    width: calc(20% - 20px);
    /* Adjust the width as needed */
    margin: 10px;
    padding: 10px;
    /*border: 1px solid #ccc; */
    border: 1px solid white;
    display: inline-block;
    vertical-align: top;
    border-radius: 12px;
}

.card-content {
    text-align: center;
}


img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
}