body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.rounded {
    border-radius: 16px;
    padding: 4px;
    margin: 2px;
}

.button-green {
    background-color: #4CAF50;
    /* Green */
}

.button-blue {
    background-color: #3498db;
    /* Blue */
}

.button-red {
    background-color: red;
    /* Blue */
}

/* Flex container for the header */
.header-container {
    display: flex;
    justify-content: space-between;
    /* Align items at the start and end */
    align-items: center;
    /* Center vertically */
}

.numberCircle {
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 36px;
    border: 2px solid #666;
}

.highlighted {
    background-color: #90ee90;
    /* You can choose any color you prefer */
}

.wrong { 
    background-color: gray;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    font-size: 24px;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#chat-container {
    display: flex;
}

.leaderboard {
    align-content: center;
}

.leaderboard-title {
    text-align: center;
}

.leaderboard-container {
    display: flex;
}

.guesser-board, .describer-board {
    flex: 1;
    float: left;
    padding: 0px 20px;
}



#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1;

    /*scroll bar */
    height: 300px;
    overflow: auto;
}

#usersConnected {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    /* Optional: add some spacing between messages and users */
}


#messages>li {
    padding: 0.5rem 1rem;
}

/* #messages>li:nth-child(odd) {
    background: #efefef;
} */

/* Apply the highlighted styling with higher specificity */
#messages>li.highlighted {
    background-color: #90ee90;
    /* Your preferred color */
}

.card {
    width: calc(20% - 20px);
    /* Adjust the width as needed */
    margin: 10px;
    padding: 10px;
    /*border: 1px solid #ccc; */
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    border-radius: 12px;
}

.card-content {
    text-align: center;
}